[submodule "External/bullet3"]
	path = External/bullet3
	url = https://github.com/bulletphysics/bullet3.git
[submodule "External/assimp"]
	path = External/assimp
	url = https://github.com/assimp/assimp.git
